<div class="js-anime-timeline">
	<div class="stagger">
		<h1>Design Animation</h1>

		<section>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</section>
	</div>
</div>
