<div class="js-anime-menu">
	<div class="stagger">

		<section id="my-section">
			<div class="active" id="wrap-cta">
				<button id="cta">Click here, please!</button>
			</div>

			<svg viewBox="0 0 215 110" preserveAspectRatio="none">
				<polygon class="polymorph" points="0,10 215,10 215,110 110,110 0,110"></polygon>
			</svg>

			<div class="container">
				<div id="content">
					<h1>Lorem ipsum dolor sit amet</h1>
					<p>Dolor sit amet et consectquo lorem ipsum dolor sit amet</p>
					<button id="close">Ok, close me</button>
				</div>
			</div>
		</section>

	</div>
</div>
