<div class="js-anime-test">
	<div class="stagger">
		<div class="animation-wrapper">
		<div class="feature-animation">
			<div class="easing-visualizer">
			<div class="wrapper bars-wrapper"></div>
			<div class="wrapper dots-wrapper"></div>
			</div>
		</div>
		</div>
	</div>
</div>
