.content_01 {

	&__box {
		min-height: 300px;
		//background-color: #D9D9D8;
	}//box-end

	&__link {
		margin-right: $gutter;
		a {
			position: relative;
			line-height: 16px;
			font-size: .9em;
			text-decoration: none;
			color: color('primary');

			&:hover {
				&::after {
					transition: translate, .5s;
					transform: translate(7px, 0px);
				}
			}

			&::after {
				content: "";
				width: 16px;
				height: 16px;
				display: flex;
				right: -24px;
				top: -1px;
				background: url("../images/icons/dark_arrow.svg")0 0 no-repeat;
				display: inline-block;
				position: absolute;
			}
		}
	}//link end

}
.border-bottom{
	border-bottom: 1px solid black;
}
// Tooltips
.tooltip {
  position: relative;
  &::after {
    background: black;
    border-radius: 2px;
    bottom: 100%;
    color: white;
    content: attr(data-tooltip);
    display: block;
    font-size: .8em;
    left: 50%;
    max-width: 100%;
    opacity: 0;
    overflow: hidden;
    padding: $gutter;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transform: translate(-50%, $gutter);
    transition: opacity .2s, transform .2s;
    white-space: pre;
    z-index: 3;
  }
  &:focus,
  &:hover {
    &::after {
      opacity: 1;
      transform: translate(-50%,-50%);
    }
  }
  &[disabled],
  &.disabled {
    pointer-events: auto;
  }

  &.tooltip-right {
    &::after {
      bottom: 50%;
      left: 100%;
      transform: translate(-50%, 50%);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(-50%, 50%);
      }
    }
  }

  &.tooltip-bottom {
    &::after {
      bottom: auto;
      top: 100%;
      transform: translate(-50%, -50%);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(-50%, -50%);
      }
    }
  }

  &.tooltip-left {
    &::after {
      bottom: 50%;
      left: auto;
      right: 100%;
      transform: translate(-50%, 50%);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(-50%, 50%);
      }
    }
  }
}
