<div class="row">
	<div class="column">

	</div>
</div>
<section class="section styleguide">
	<div class="row">
		<div class="column large-3">
			<div class="styleguide_color background-primary-color">
					<div class="styleguide_color__rgbtitle"></div>
					<div class="styleguide_color__hextitle"></div>
					<div class="styleguide_color__subtitle">Primary</div>
			</div>
		</div>
		<div class="column large-3">
			<div class="styleguide_color background-secondary-color">
					<div class="styleguide_color__rgbtitle"></div>
					<div class="styleguide_color__hextitle"></div>
					<div class="styleguide_color__subtitle">Primary</div>
			</div>
		</div>
		<div class="column large-3">
			<div class="styleguide_color background-tertiary-color">
					<div class="styleguide_color__rgbtitle"></div>
					<div class="styleguide_color__hextitle"></div>
					<div class="styleguide_color__subtitle">Primary</div>
			</div>
		</div>
		<div class="column large-3">
			<div class="styleguide_color background-quaternary-color">
					<div class="styleguide_color__rgbtitle"></div>
					<div class="styleguide_color__hextitle"></div>
					<div class="styleguide_color__subtitle">Primary</div>
			</div>
		</div>
	</div>
</section>

<section class="section styleguide">
	<div class="row">
		<div class="column large-3">
			<div class="styleguide_color background-primary-color-light">
					<div class="styleguide_color__rgbtitle"></div>
					<div class="styleguide_color__hextitle"></div>
					<div class="styleguide_color__subtitle">Primary</div>
			</div>
		</div>
		<div class="column large-3">
			<div class="styleguide_color background-secondary-color-light">
					<div class="styleguide_color__rgbtitle"></div>
					<div class="styleguide_color__hextitle"></div>
					<div class="styleguide_color__subtitle">Primary</div>
			</div>
		</div>
		<div class="column large-3">
			<div class="styleguide_color background-tertiary-color-light">
					<div class="styleguide_color__rgbtitle"></div>
					<div class="styleguide_color__hextitle"></div>
					<div class="styleguide_color__subtitle">Primary</div>
			</div>
		</div>
		<div class="column large-3">
			<div class="styleguide_color background-quaternary-color-light">
					<div class="styleguide_color__rgbtitle"></div>
					<div class="styleguide_color__hextitle"></div>
					<div class="styleguide_color__subtitle">Primary</div>
			</div>
		</div>
	</div>
</section>
<section class="section styleguide">
	<div class="row">
		<div class="column large-3">
			<div class="styleguide_color background-primary-color-dark">
					<div class="styleguide_color__rgbtitle"></div>
					<div class="styleguide_color__hextitle"></div>
					<div class="styleguide_color__subtitle">Primary</div>
			</div>
		</div>
		<div class="column large-3">
			<div class="styleguide_color background-secondary-color-dark">
					<div class="styleguide_color__rgbtitle"></div>
					<div class="styleguide_color__hextitle"></div>
					<div class="styleguide_color__subtitle">Primary</div>
			</div>
		</div>
		<div class="column large-3">
			<div class="styleguide_color background-tertiary-color-dark">
					<div class="styleguide_color__rgbtitle"></div>
					<div class="styleguide_color__hextitle"></div>
					<div class="styleguide_color__subtitle">Primary</div>
			</div>
		</div>
		<div class="column large-3">
			<div class="styleguide_color background-quaternary-color-dark">
					<div class="styleguide_color__rgbtitle"></div>
					<div class="styleguide_color__hextitle"></div>
					<div class="styleguide_color__subtitle">Primary</div>
			</div>
		</div>
	</div>
</section>
