<section class="section cat_clicker_001">
	<img class="cat_clicker_001__image js-cat_clicker_001__image" src="{{ cats[0].image.src }}" target="" alt="{{ image.alternative }}" title="{{ image.title }}">
	 <p class="cat_clicker_001__image__count js-cat_clicker_001__image__count">{{cats[0].count}}</p>
</section>
