
<div class="row">
{% for item in colors %}
	<div class="column small-12 large-12">
		<h3 class="h2 ">{{ item.color }}</h3>
	</div>
	<div class="column small-12 large-4">
		<div class="styleguide_colors background-{{ item.color }}">
				<div class="styleguide_colors__title">{{ item.color }}</div>
				<div class="styleguide_colors__rgbtitle"></div>
				<div class="styleguide_colors__hextitle"></div>
		</div>
	</div>
	{% for item in item.subitems %}
			<div class="column small-12 large-4">
				<div class="styleguide_colors background-{{ item.color }}">
						<div class="styleguide_colors__title">{{ item.color }}</div>
						<div class="styleguide_colors__rgbtitle"></div>
						<div class="styleguide_colors__hextitle"></div>
				</div>
			</div>
	{% endfor %}
	<div class="column small-12">
		<h3 class="h3 spacing-huge"></h3>
	</div>
{% endfor %}
</div>
