<div id="footer">
	<div class="row">
		<div class="column large-6">
			<section>
				<form action="#" method="post">
					<div class="fields">
						<div class="field">
							<label for="name">Name</label>
							<input type="text" name="name" id="name">
						</div>
						<div class="field">
							<label for="email">Email</label>
							<input type="text" name="email" id="email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="3"></textarea>
						</div>
					</div>
				</form>
			</section>
		</div>
		<div class="column large-6">
			<div class="row">
				<div class="column large-6">
					<section class="alt">
						<h3>Address</h3>
						<p>Offenbach<br>
							am Main</p>
					</section>
					<section>
						<h3>Phone</h3>
						<p><a href="#">(0177) 3716791</a></p>
					</section>
					<section>
						<h3>Email</h3>
						<p><a href="#">m-morley@gmx.de</a></p>
					</section>
				</div>
				<div class="column large-6">
					<section>
						<h3>Social</h3>
						<ul class="icons alt">
							<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</section>
				</div>
			</div>
		</div>
		<div class="column large-12">
			<div class="container">
				<hr />
				<p class="muted credit">&copy; 2013 -  "now"|date("Y") Alexey Bobkov &amp; Samuel Georges.</p>
			</div>
		</div>
	</div>
</div>