
		<nav class="TheList" id="TheList">
			<div class="TheList__Wrapper">
				<ul class="TheList__List" id="TheList__List">
					<li>
						<a href="#/project-1" data-color="#b5a9a1">
							<span class="TheList__Year">2019</span>
							<span class="TheList__Title">Blank Studio</span>
						</a>
					</li>
					<li>
						<a href="#/project-2" data-color="#0aeac0">
							<span class="TheList__Year">2019</span>
							<span class="TheList__Title">ZOI</span>
						</a>
					</li>

					<li>
						<a href="#/project-4" data-color="#01622C">
							<span class="TheList__Year">2019</span>
							<span class="TheList__Title">Balad Souvenir</span>
						</a>
					</li>
					<li>
						<a href="#/project-5" data-color="#1d1d1d">
							<span class="TheList__Year">2018</span>
							<span class="TheList__Title">Lars Wurzel</span>
						</a>
					</li>
					{# <li>
						<a href="#/project-6" data-color="#2a2a2a">
							<span class="TheList__Year">2018</span>
							<span class="TheList__Title">Roberto Marcaida</span>
						</a>
					</li>
					<li>
						<a href="#/project-7" data-color="#317b96">
							<span class="TheList__Year">2018</span>
							<span class="TheList__Title">Moments Trading</span>
						</a>
					</li>
					<li>
						<a href="#/project-8" data-color="#E8651E">
							<span class="TheList__Year">2017</span>
							<span class="TheList__Title">RCA</span>
						</a>
					</li>
					<li>
						<a href="#/project-9" data-color="#C43AE8">
							<span class="TheList__Year">2017</span>
							<span class="TheList__Title">Boozer Game Studio</span>
						</a>
					</li> #}
				</ul>
			</div>
		</nav>
