<div class="js-anime-staggering">
	<div class="stagger">
	<div class="animation-wrapper">
  <div class="stagger-visualizer">
    <div class="cursor color-red"></div>
    <div class="dots-wrapper"></div>
  </div>
</div>
	</div>
</div>
