<!-- {% inject "anime_layered/anime_layered.njk", anime_layered %} -->
<div class="">
	{% inject "anime_sphere/anime_sphere.njk", anime_sphere %}
</div>

{% inject "content_02/content_02.njk", content_02 %}
{% inject "sameHeight/sameHeight.njk", sameHeight %}
