

<section class="section grid">
	<div class="row">

				<div class="column small-9">
					<div class="grid__bigimage-fake">
						<img class="grid__big-fake lax" data-lax-opacity="0 1,100 1,  400 1, 500 0"
							src="https://source.unsplash.com/random/600x500" alt="">
						<img class="grid__big-fake lax" data-lax-opacity="0 1, 500 1, 600 0" src="https://source.unsplash.com/random/600x502" alt="">
						{# <img class="grid__big-fake lax" data-lax-opacity="0 0, 1500 0" src="https://source.unsplash.com/random/600x503" alt=""> #}
						{# <img class="grid__big-fake lax" data-lax-opacity="0 0, 700 0" src="https://source.unsplash.com/random/600x504" alt=""> #}
						{# <img class="grid__big-fake lax" data-lax-opacity="0 0, 700 0" src="https://source.unsplash.com/random/600x505" alt=""> #}
						{# <img class="grid__big-fake lax" data-lax-opacity="0 0, 700 0"
							src="https://source.unsplash.com/random/600x506" alt=""> #}
					</div>
					{# <div class="grid__bigimage">
						<p class="lax" data-lax-opacity="200 1, 100 1, 0 0" data-lax-anchor="self">
							I start to fade out after I'm 100px away from the top of the window
							and then I'm gone by the time I reach the top!
						</p>
						<img class="grid__big lax" src="https://source.unsplash.com/random/600x500" alt="">
						<img class="grid__big" src="https://source.unsplash.com/random/600x502" alt="">
						<img class="grid__big" src="https://source.unsplash.com/random/600x503" alt="">
						<img class="grid__big" src="https://source.unsplash.com/random/600x504" alt="">
						<img class="grid__big" src="https://source.unsplash.com/random/600x505" alt="">
						<img class="grid__big lax" data-lax-scale="1700 0, 1500 1, 1100 1, 0 0"
							src="https://source.unsplash.com/random/600x506" alt="">
					</div> #}

				</div>
		<div class="column small-3">
			<img class="grid__thumbnail" src="https://source.unsplash.com/random/300x400" alt="">
			<img class="grid__thumbnail" src="https://source.unsplash.com/random/300x400" alt="">
			<img class="grid__thumbnail" src="https://source.unsplash.com/random/300x400" alt="">
			<img class="grid__thumbnail" src="https://source.unsplash.com/random/300x400" alt="">
			<img class="grid__thumbnail" src="https://source.unsplash.com/random/300x400" alt="">
			<img class="grid__thumbnail" src="https://source.unsplash.com/random/300x400" alt="">
			<img class="grid__thumbnail" src="https://source.unsplash.com/random/300x400" alt="">
		</div>
	</div>
</section>
